.tab {
        background-color: white;
        border: 2px solid #222222;
        border-bottom: none;
        margin: 0 30px;
        padding: 5px 25px;
        width: 5vw;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        color: black;
        cursor: pointer;
        font-size: 0.8vw;
        &.selected{
                font-size: 1vw;
                background-color: #222222;
                color: #f8fcff;
                height: 4.5vh;
        }
}